<div class="row">
    <div class="col" id="divReporteHistorial">
        <div class="card mb-1">
            <div class="card-header" id="headingSri">
                <h2 class="mb-0">
                    <button id="buttonSri" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSri" aria-expanded="false" aria-controls="collapseSri">
                        <i class="far fa-file-alt"></i> SRI
                    </button>
                </h2>
            </div>
            <div id="collapseSri" class="collapse" aria-labelledby="headingSri" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteSri"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingCivil">
                <h5 class="mb-0">
                    <button id="buttonPersona" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsePersona" aria-expanded="false" aria-controls="collapsePersona">
                        <i class="far fa-id-badge"></i> Civil
                    </button>
                </h5>
            </div>
            <div id="collapsePersona" class="collapse" aria-labelledby="headingCivil" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuentePersona"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingSocietario">
                <h5 class="mb-0">
                    <button id="buttonBalances" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseBalances" aria-expanded="false" aria-controls="collapseBalances">
                        <i class="fas fa-chart-line"></i> Societario
                    </button>
                </h5>
            </div>
            <div id="collapseBalances" class="collapse" aria-labelledby="headingSocietario" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteBalances"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingIess">
                <h5 class="mb-0">
                    <button id="buttonIess" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseIess" aria-expanded="false" aria-controls="collapseIess">
                        <i class="fas fa-book-medical"></i> IESS
                    </button>
                </h5>
            </div>
            <div id="collapseIess" class="collapse" aria-labelledby="headingIess" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteIess"></div>
                    <div id="divHistorialIess2"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingLegal">
                <h5 class="mb-0">
                    <button id="buttonLegal" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseLegal" aria-expanded="false" aria-controls="collapseLegal">
                        <i class="fas fa-book"></i> Legal
                    </button>
                </h5>
            </div>
            <div id="collapseLegal" class="collapse" aria-labelledby="headingLegal" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteLegal"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingAnt">
                <h5 class="mb-0">
                    <button id="buttonAnt" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseAnt" aria-expanded="false" aria-controls="collapseAnt">
                        <i class="fas fa-car"></i> ANT
                    </button>
                </h5>
            </div>
            <div id="collapseAnt" class="collapse" aria-labelledby="headingAnt" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteAnt"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingSenescyt">
                <h5 class="mb-0">
                    <button id="buttonSenescyt" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSenescyt" aria-expanded="false" aria-controls="collapseSenescyt">
                        <i class="fas fa-pen-square"></i> Senescyt
                    </button>
                </h5>
            </div>
            <div id="collapseSenescyt" class="collapse" aria-labelledby="headingSenescyt" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteSenescyt"></div>
                </div>
            </div>
        </div>        
        <div class="card mb-1">
            <div class="card-header" id="headingSercop">
                <h5 class="mb-0">
                    <button id="buttonSercop" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSercop" aria-expanded="false" aria-controls="collapseSercop">
                        <i class="far fa-file-alt"></i> SERCOP
                    </button>
                </h5>
            </div>
            <div id="collapseSercop" class="collapse" aria-labelledby="headingSercop" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteSercop"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingPensionAlimenticia">
                <h5 class="mb-0">
                    <button id="buttonPensionAlimenticia" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsePensionAlimenticia" aria-expanded="false" aria-controls="collapsePensionAlimenticia">
                        <i class="fas fa-baby-carriage"></i> PENSIÓN ALIMENTICIA
                    </button>
                </h5>
            </div>
            <div id="collapsePensionAlimenticia" class="collapse" aria-labelledby="headingPensionAlimenticia" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuentePensionAlimenticia"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingSuperBancos">
                <h5 class="mb-0">
                    <button id="buttonSuperBancos" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSuperBancos" aria-expanded="false" aria-controls="collapseSuperBancos">
                        <i class="fas fa-building-columns"></i> SUPERINTENDENCIA DE BANCOS
                    </button>
                </h5>
            </div>
            <div id="collapseSuperBancos" class="collapse" aria-labelledby="headingSuperBancos" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteSuperBancosCedula"></div>
                    <div id="divFuenteSuperBancosNatural"></div>
                    <div id="divFuenteSuperBancosEmpresa"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingAntecedentes">
                <h5 class="mb-0">
                    <button id="buttonAntecedentes" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseAntecedentes" aria-expanded="false" aria-controls="collapseAntecedentes">
                        <i class="fas fa-handcuffs"></i> MINISTERIO DEL INTERIOR
                    </button>
                </h5>
            </div>
            <div id="collapseAntecedentes" class="collapse" aria-labelledby="headingAntecedentes" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteAntecedentes"></div>
                    <div id="divFuenteFuerzasArmadas"></div>
                    <div id="divFuenteDeNoBaja"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingPredios">
                <h5 class="mb-0">
                    <button id="buttonPredios" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsePredios" aria-expanded="false" aria-controls="collapsePredios">
                        <i class="fas fa-house-user"></i> OBLIGACIONES MUNICIPALES
                    </button>
                </h5>
            </div>
            <div id="collapsePredios" class="collapse" aria-labelledby="headingPredios" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuentePredios"></div>
                </div>
            </div>
        </div>
        @* <div class="card mb-1">
            <div class="card-header" id="headingFiscalia">
                <h5 class="mb-0">
                    <button id="buttonFiscaliaDelito" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFiscaliaDelitos" aria-expanded="false" aria-controls="collapseFiscaliaDelitos">
                        <i class="fa-solid fa-scale-balanced"></i> FISCALÍA DELITOS
                    </button>
                </h5>
            </div>
            <div id="collapseFiscaliaDelitos" class="collapse" aria-labelledby="headingFiscalia" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteFiscaliaDelitos"></div>
                </div>
            </div>
        </div> *@
        <div class="card mb-1">
            <div class="card-header" id="headingUafe">
                <h5 class="mb-0">
                    <button id="buttonUafe" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseUafe" aria-expanded="false" aria-controls="collapseUafe">
                        <i class="fa-solid fa-magnifying-glass-dollar"></i> UAFE
                    </button>
                </h5>
            </div>
            <div id="collapseUafe" class="collapse" aria-labelledby="headingUafe" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteUafe"></div>
                </div>
            </div>
        </div>
        <div id="divBuroCreditoHistorial" class="card mb-1">
            <div class="card-header" id="headingBuroCredito">
                <h5 class="mb-0">
                    <button id="buttonBuroCredito" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseBuroCredito" aria-expanded="false" aria-controls="collapseBuroCredito">
                        <i class="fa-solid fa-money-check-dollar"></i> BURÓ CRÉDITO
                    </button>
                </h5>
            </div>
            <div id="collapseBuroCredito" class="collapse" aria-labelledby="headingBuroCredito" data-parent="#accordion">
                <div class="card-body">
                    <div id="divFuenteBuroCredito"></div>
                    <hr />
                    <div id="divHistorialIess"></div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header" id="headingEvaluacionRiesgo">
                <h5 class="mb-0">
                    <button id="buttonCalificacion" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCalificacion" aria-expanded="false" aria-controls="collapseCalificacion">
                        <i class="fas fa-list-check"></i> Evaluación Riesgo
                    </button>
                </h5>
            </div>
            <div id="collapseCalificacion" class="collapse" aria-labelledby="headingEvaluacionRiesgo" data-parent="#accordion">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-4 col-lg-7 col-md-12 col-sm-12 col-12 d-inline-flex pr-0">
                                    <img src="~/images/iconos/listCheck.svg" alt="" width="40" height="40">
                                    <span class="pl-2 my-auto">
                                        Evaluación Riesgo
                                    </span>
                                </div> 
                                <div class="col-xl-8 col-lg-5 col-md-12 col-sm-12 col-12 align-right py-lg-2 pt-4  mx-auto d-flex justify-content-lg-end justify-content-center">
                                    <button type="button" id="btnImprimirSolicitudCredito" class="btn btn-primary-custom btnImprimirSolicitudCredito" disabled><i class="fa-solid fa-print my-auto mr-1"></i>Imprimir solicitud de crédito</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="divFuenteCalificacion"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
